pkgbase = sonic-decoration
	pkgdesc = Plugin based library to create window decorations
	pkgver = 6.7.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-decoration
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = ki18n
	depends = qt6-base
	provides = kdecoration
	conflicts = kdecoration
	source = sonic-decoration-6.7.0.tar.gz::https://github.com/Sonic-DE/sonic-decoration/archive/refs/tags/6.7.0.tar.gz
	sha256sums = 407c3792a37b352774229206d4e1591956d7d0d65a8d87408197cde296ed0cd1

pkgname = sonic-decoration
